body{
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #0c0931;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #dedede;
    border-radius: 5px;
    text-align: center;
}